.seat {
    background-color: #444451;
    height: 32px;
    width: 32px;
    margin:5px;
    /* height: 15px;
    width: 15px;
    margin: 3px; */
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}

.row {
    display:flex;       /* this will automatically put child elements in 1 row */
}

.movie-theatre {
    border:1px solid #555555;
    padding:20px;
}

.occupied {
    background-color: #a83246;
}

.selected {
    background-color: #6da630;
}